
.cart_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cart_input {
    width: 50px;
    margin-right: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.cart_button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #3e8e41;
}
